@using bmbox_main.Models;
@{
    ViewBag.Title = "CreateFromFile";
}

<h2>Products Import</h2>

<br><h4> Product Import Scheme/Template:</h4>

<p style="
    font-family: Courier New, Courier, monospace;
    margin-left: 40px;">{Name}|{Brand}|{Type}|{Price}|{Quantity Left}</p>

<br><h4> Example: </h4>
<p style="
    font-family: Courier New, Courier, monospace;
    margin-left: 40px;">G3|LG|Smartphone|599|3 <br>Smart TV|Samsung|Smart TV|999|2</p>

<br><br>

@using(Html.BeginForm("CreateFromFile", "Product", FormMethod.Post, new {enctype = "multipart/form-data"})){
    <input type="file" class="input-box" id="fileToImport" name="fileToImport" />
    <br><input type="submit" value="Upload" />
}

<br><br>
<h2>@ViewBag.Result</h2>
<br>
<table class="table">
    <tr><th>Name</th> <th>Brand</th> <th>Type</th> <th>Price</th> <th>Quantity Left</th></tr>
            @if(ViewBag.Products != null){
                var products = ViewBag.Products as List<ProductViewModel>;
                if(products != null){
                    foreach(var product in products){
                        <tr>
                            <td>@product.Name</td> 
                            <td>@product.Brand</td>
                            <td>@product.Type</td> 
                            <td>@product.Cost</td> 
                            <td>@product.QuantityLeft</td>
                        </tr>
                    }
                }    
            }
</table>