@*@model IEnumerable<bmbox_main.Models.ProductViewModel>*@
@using PagedList.Mvc;
@using PagedList;

@model PagedList<bmbox_main.Models.ProductViewModel>
@{
    ViewBag.Title = "All Products";
}

<h2>Products List</h2>
<h2>--> @Resources.Global.Register</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>


@*@using (Html.BeginForm()) 
{
<p>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
</p>
}*@
<div class="form-group">
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        <div> Name </div> @Html.TextBox("nameSearch", ViewBag.currentNameFilter as string)
        <div class="margin-left:5px"> Category </div>@Html.DropDownList("typeSearch", new SelectList(ViewBag.Categories))
        <input type="submit" value="Search" />
    }
</div>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", 
                new { sortOrder = ViewBag.NameSortParam
                      , currentNameFilter=ViewBag.CurrentNameFilter
                      , currentTypeFilter=ViewBag.currentTypeFilter})
            <a href="#">
                @if (ViewBag.NameSortParam == "name_desc"){
                <span class="glyphicon glyphicon-arrow-up"></span>
                } else {
                <span class="glyphicon glyphicon-arrow-down"></span>
                }
            </a>
            <br>
        </th>
        <th>
            Brand
        </th>
        <th>
            @Html.ActionLink("Category", "Index", new {sortOrder = ViewBag.TypeSortParam
                                       , currentNameFilter=ViewBag.CurrentNameFilter
                                       , currentTypeFilter=ViewBag.currentTypeFilter})
            <a href="#">
                @if (ViewBag.TypeSortParam == "type_desc"){
                <span class="glyphicon glyphicon-arrow-up"></span>
                } else {
                <span class="glyphicon glyphicon-arrow-down"></span>
                }
            </a>
            <br>
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new {sortOrder = ViewBag.PriceSortParam
                                             , currentNameFilter=ViewBag.CurrentNameFilter
                                             , currentTypeFilter=ViewBag.currentTypeFilter})
            <a href="#">
                @if (ViewBag.PriceSortParam == "price_desc"){
                <span class="glyphicon glyphicon-arrow-up"></span>
                } else {
                <span class="glyphicon glyphicon-arrow-down"></span>
                }
            </a>
        </th>
        <th>
            Quantity Left
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityLeft)
        </td>
        <td>
            @Html.ActionLink("Add to basket", "AddToBasket", new { pId=item.Id, email = @User.Identity.Name}) |
            @Html.ActionLink("Edit", "Update", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />  
    <div class="col-sm-10">  
        <div class="center">
            <br />
            @Html.PagedListPager(Model, page => Url.Action("Index", 
                new { page, sortOrder = ViewBag.CurrentSort, currentTypeFilter = ViewBag.CurrentTypeFilter, currentNameFilter = ViewBag.CurrentNameFilter })) 

            Showing @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        </div>
    </div>

                    @*<div id="id01" class="w3-modal">
                        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                            <div class="w3-center">
                                <br>
                                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                                <img src="https://www.w3schools.com/w3css/img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
                            </div>

                            <form class="w3-container" action="/action_page.php">
                                <div class="w3-section">
                                    <label><b>Username</b></label>
                                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
                                    <label><b>Password</b></label>
                                    <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="psw" required>
                                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
                                    <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
                                </div>
                            </form>

                            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                                <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
                            </div>

                        </div>
                    </div>*@