@model IEnumerable<bmbox_main.Models.ProductViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Products List</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new {sortOrder = ViewBag.NameSortParam})
            @if (ViewBag.NameSortParam == "name_desc"){
                <a href="#">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </a>
            } else {
            <a href="#">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </a>
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.ActionLink("Category", "Index", new {sortOrder = ViewBag.TypeSortParam})
            @if (ViewBag.TypeSortParam == "type_desc"){
                <a href="#">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </a>
            } else {
                <a href="#">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </a>
            }
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new {sortOrder = ViewBag.PriceSortParam})
            @if (ViewBag.PriceSortParam == "price_desc"){
            <a href="#">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </a>
            } else {
            <a href="#">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </a>
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityLeft)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityLeft)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
