@*@model IEnumerable<bmbox_main.Models.ProductViewModel>*@
@using PagedList.Mvc;
@using PagedList;
@model PagedList<bmbox_main.Models.ProductViewModel>

@{
    ViewBag.Title = "All Products";
}

<h2>Products List</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>


@*@using (Html.BeginForm()) 
{
<p>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
</p>
}*@
<div class="form-group">
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        <div> Category </div> @Html.TextBox("nameSearch", ViewBag.currentNameFilter as string)
        <div class="margin-left:5px"> Category </div>@Html.DropDownList("typeSearch", new SelectList(ViewBag.Categories))
        <input type="submit" value="Search" />
    }
</div>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", 
                new { sortOrder = ViewBag.NameSortParam
                      , currentNameFilter=ViewBag.CurrentNameFilter
                      , currentTypeFilter=ViewBag.currentTypeFilter})
            <a href="#">
                @if (ViewBag.NameSortParam == "name_desc"){
                <span class="glyphicon glyphicon-arrow-up"></span>
                } else {
                <span class="glyphicon glyphicon-arrow-down"></span>
                }
            </a>
            <br>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Brand)*@
            Brand
        </th>
        <th>
            @Html.ActionLink("Category", "Index", new {sortOrder = ViewBag.TypeSortParam
                                       , currentNameFilter=ViewBag.CurrentNameFilter
                                       , currentTypeFilter=ViewBag.currentTypeFilter})
            <a href="#">
                @if (ViewBag.TypeSortParam == "type_desc"){
                <span class="glyphicon glyphicon-arrow-up"></span>
                } else {
                <span class="glyphicon glyphicon-arrow-down"></span>
                }
            </a>
            <br>
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new {sortOrder = ViewBag.PriceSortParam
                                             , currentNameFilter=ViewBag.CurrentNameFilter
                                             , currentTypeFilter=ViewBag.currentTypeFilter})
            <a href="#">
                @if (ViewBag.PriceSortParam == "price_desc"){
                <span class="glyphicon glyphicon-arrow-up"></span>
                } else {
                <span class="glyphicon glyphicon-arrow-down"></span>
                }
            </a>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.QuantityLeft)*@
            Quantity Left
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityLeft)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />  
    <div class="col-sm-10">  
        <div class="center">
            <br />
            @Html.PagedListPager(Model, page => Url.Action("Index", 
                new { page, sortOrder = ViewBag.CurrentSort, currentTypeFilter = ViewBag.CurrentTypeFilter, currentNameFilter = ViewBag.CurrentNameFilter })) 

            Showing @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        </div>
    </div>

    <br />
               Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", 
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))